<h1> Ty Coffee App Management System</h1>

<h2> Options </h2>
<li><%= link_to "Food Menu", foods_path %></li>
<li><%= link_to "Drink Menu", drinks_path %></li>
<li><%= link_to "Event Menu", events_path %></li>
<li><%= link_to "Opening Times Menu", hours_path %></li>


